Hallo,
%p Ihr Termin zum Thema WLAN ist am: #{@date_formatted}  Uhr

%p Im Anhang zu dieser E-Mail finden Sie eine Termineinladung. Ein Doppelklick genügt um es in Ihren Kalender einzufügen. Wir melden uns telefonisch zum vereinbarten Termin.

%p Mit besten Grüßen,

%p Ihr Airfy Team
